@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --shadow-center: 0 0 0 0 rgb(0 0 0 / 0);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #8cbcd0; /* Sky Blue */
  --color-primary-content: #212638;
  --color-secondary: #dea6af; /* Pastel Peach */
  --color-secondary-content: #212638;
  --color-accent: #8cbcd0; /* Sky Blue */
  --color-accent-content: #212638;
  --color-neutral: #212638;
  --color-neutral-content: #ffffff;
  --color-base-100: #e6dbc9; /* Pastel Pink */
  --color-base-200: #f0e8de; /* Lighter Pastel Pink */
  --color-base-300: #d9cfba; /* Darker Pastel Pink */
  --color-base-content: #212638;
  --color-info: #8cbcd0;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #8cbcd0; /* Sky Blue */
  --color-primary-content: #212638;
  --color-secondary: #dea6af; /* Pastel Peach */
  --color-secondary-content: #212638;
  --color-accent: #8cbcd0; /* Sky Blue */
  --color-accent-content: #212638;
  --color-neutral: #f9fbff;
  --color-neutral-content: #385183;
  --color-base-100: #4a4a4a; /* Dark Gray */
  --color-base-200: #3a3a3a;
  --color-base-300: #2a2a2a;
  --color-base-content: #e6dbc9; /* Pastel Pink */
  --color-info: #8cbcd0;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;

  --tt-tailw: 6px;
  --tt-bg: var(--color-primary);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  p {
    margin: 1rem 0;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

:root,
[data-theme] {
  background: var(--color-base-200);
}

.btn {
  @apply shadow-none;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
}
